# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Language for Data Science
- Commonly used Data Science Libraries
- Data Science Tools
- Simple Arithmetic Expression
- Time Conversion

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Javascript
8. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow
6. PyTorch
7. Keras
8. Scikit-learn
9. dplyr
10. stringr
11. ggplot
12. ggplot

Open-Source Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Sushil Mendon